<!DOCTYPE html>
<html>
<head>
	<title>Javascript Examples</title>	
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>JavaScript can change HTML attributes</h1>
<a href="index.html">Home</a>

<div id="demo">Javascript can change HTML attributes.</div>
<button type="button" onclick="document.getElementById('myImage').src='pic_bulbon.gif'">Turn on the Light!</button>

<img id="myImage" src="pic_bulboff.gif" style="width: 100px;">

<button type="button" onclick="document.getElementById('myImage').src='pic_bulboff.gif'">Turn off the Light!</button>

</body>
</html>