<!DOCTYPE html>
<html>
<head>
	<title>Javascript Examples</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>JavaScript can change style of an HTML Element.</h1>
<a href="index.html">Home</a>

<p id="demo">JavaScript Awesome make text size : 45px </p>
<button type="button" onclick="document.getElementById('demo').style.fontSize='35px'">Click me!</button>
<button type="button" onclick="document.getElementById('demo').style.fontSize='16px'">Back me!</button>
</body>
</html>